// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body, html{
    margin: 0px;
    padding: 0px;
    font-size: 1rem;
}
.text_after_logo{
    font-size: 1.5em;
}
.form{
    width: 90%;
    box-shadow: 0px 0px 5px black;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    margin: 20px;
}
.field, .actions{
    width: 100% !important;
    height: 50px;
}
.form input[type='submit'], .form .yet_a_compte{
    font-weight: bold;
}
.form .yet_a_compte{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}
.content_main{
    min-height: 100vh;
}
#error_explanation{
    width: 100%;
}
@media screen and(min-width: 992px) {
    .form{
        width: 65%;
    }
}